@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Noto+Sans&display=swap');

body, html {
  /* background: rgba(242,121,246,1); */
  box-sizing: border-box;
  margin: 0 auto;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;

  @media (min-width: 768px) {
    html { font-size: 26px; }
  }
  
  @media (min-width: 1200px) {
    html { font-size: 28px; }
  }
}